@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
    box-sizing:border-box;
}

body{
    font-family: "Roboto" , sans-serif;
    margin: 0;
}

header{
    background-image: url("/images/car-bg.jpg");
    color:white;
    /* min-height: calc(100vh-102px); */
    min-height: calc(100vh - 102px);
    background-size: cover;
    display: flex;
    background-position: center center;
    flex-direction: column;
    /* border:3px solid purple */
}
 .content{
    margin:auto 0;
    font-size: 2rem;
    max-width: 100%;
}
.content h1{
    color: #00c2ff;
    margin-bottom: 0;
    padding: 0 1rem;
    /* border: 1px solid red;; */
}
.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    /* background-color: black; */
    
}
nav ul{
    display: flex;
    list-style-type:none;
    padding: 0;
}
nav .logo{
    font-size: 2.5rem;
    color: white;
  
}
nav li{

}
nav li a {
    color:white;
    text-decoration: none;
    padding:1rem ;
}

.highlight{
    background-color: #00c2ff;
    color: white;
    text-decoration: none;
    padding:1rem;
}
.selected{
    font-weight: bold;
}

footer{
    height: 100px;
    background-color: black;
    color:#fff;
    padding:1rem;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding:0;
    /* border:3px dashed green */
}
footer strong{
    color:#00c2ff
}
footer p{
    margin:0;
}





@media screen and (max-width:700px){
    .content{
        margin:2rem auto 0;
        font-size: 1.4rem;
    }
    nav ul{
        flex-direction: column;
    }
     nav li{
        margin-bottom: 1rem;
       
     }
    nav .highlight{
        display: none;
    }
    footer ul{
        flex-direction: column;
        justify-content: center;
    }
    footer li{
        margin:1rem;
        text-align: center;
    }
    footer{
        height: 100%;
    }
    /* header{
        min-height: calc(100vh - 100px);
    } */
}